<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Mini_Whatsapp</title>
</head>
<body>
    <h3>All Chats</h3>
   <form action="/chats/new" method="get">
        <button>New Chat</button>
    </form>
    <br>
<% for (let chat of chats) { %>

    <div class="chat">
        <p>From:<%= chat.from %>  </p>
           <div class="message">
            <p>Message:<%= chat.message %>  </p>
            <form method="get" action="/chats/<%= chat._id %>/edits">
                <button>Edit</button>
            </form> 
            <br>
            <form method="post" action="/chats/<%= chat._id %>?_method=DELETE">
                <button>Delete</button>
            </form>  
           </div>
        <p>To:<%=chat.to %></p>
        <p><%= chat.created_At.toString().split(" ")[4] %></p>
        <p><%= chat.created_At.toString().split(" ").slice(0,4).join(" ")%></p>
    </div>  
    <hr>
   
<% } %>
</body>
</html>
